<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.persistenciadatos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="com.example.persistenciadatos.permission.ACCESS_PROVIDER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EjemploRoom.ActualizarRoom"></activity>
        <activity android:name=".EjemploRoom.NuevoUsuarioRoom" />
        <activity android:name=".EjemploRoom.GestionRoom" />
        <activity android:name=".EjemploRoom.LoginRoom" />

        <provider
            android:name=".EjemploContentProviders.UsuarioProvider"
            android:authorities="com.example.persistenciadatos"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.example.persistenciadatos.permission.ACCESS_PROVIDER" />

        <activity android:name=".EjemploDBHelper.NuevoUsuario" />
        <activity android:name=".EjemploDBHelper.ActualizarActivity" />
        <activity android:name=".EjemploDBHelper.LoginUsuarios" />
        <activity android:name=".EjemploDBHelper.GestionUsuarios" />
        <activity android:name=".EjemploFicheros.Fichero" />
        <activity android:name=".EjemploFicheros.ExternalStorage" />
        <activity android:name=".EjemploFicheros.Ficheros" />
        <activity
            android:name=".EjemploSettings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".EjemploSettings.Ejemplo2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.persistenciadatos.EjemploSettings.Ejemplo2" />
        </activity>
        <activity android:name=".EjemploSettings.Ejemplo2" />
        <activity android:name=".Ejemplo1.ActivityMostrar" />
        <activity android:name=".Ejemplo1.Ejemplo1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>